header{
    height: 8vh;
}

main{
    background-color: yellowgreen;
    height: 88vh;
}

main  div{
    height: 100%;
}

footer{
    height: 4vh;
    overflow-y: hidden;
}

button#resetButton{
    height: 2rem;
}

.squareElement{
    background-color: aquamarine;
    border: 3px lightslategrey solid
}


.active{
    background-color: rgb(128, 255, 0);
}

.bomb{
    background-color: rgb(255, 0, 0);
}

#field{
    width: 600px;
    height: 600px;
}
